## TESTEO DE MODELOS 3

En este archivo se aplican más tests a la par que se hacen predicciones para subir a Kaggle.

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

import pylab as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
salaries = pd.read_csv('../data/salaries_data.csv')
testeo = pd.read_csv('../data/testeo.csv')
muestra = pd.read_csv('../data/muestra.csv')

In [3]:
salaries.shape, testeo.shape

((500, 11), (107, 8))

In [4]:
df = pd.concat([salaries, testeo])

In [5]:
df.tail()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
102,2022,SE,FT,Data Analyst,NaN,NaN,NaN,US,100,US,M
103,2022,SE,FT,Data Architect,NaN,NaN,NaN,US,100,US,M
104,2022,SE,FT,Data Scientist,NaN,NaN,NaN,US,100,US,M
105,2022,EN,FT,Data Analyst,NaN,NaN,NaN,CA,0,CA,M
106,2022,SE,FT,Data Analyst,NaN,NaN,NaN,US,0,US,M

In [6]:
continent = []

for e in salaries.salary_currency:
    if e == 'USD':
        continent.append('AME')
    if e == 'EUR':
        continent.append('EUR')
    if e == 'INR':
        continent.append('ASI')
    if e == 'GBP':
        continent.append('EUR')
    if e == 'JPY':
        continent.append('ASI')
    if e == 'CAD':
        continent.append('AME')
    if e == 'MXN':
        continent.append('LTM')
    if e == 'CHF':
        continent.append('EUR')
    if e == 'CLP':
        continent.append('LTM')
    if e == 'TRY':
        continent.append('ASI')
    if e == 'AUD':
        continent.append('AUS')
    if e == 'BRL':
        continent.append('LTM')
    if e == 'HUF':
        continent.append('EUR')
    if e == 'PLN':
        continent.append('EUR')
    if e == 'SGD':
        continent.append('ASI')

In [7]:
salaries['Continent'] = continent

In [8]:
dictio_typ = {'PT':0, 'FL':1, 'FT':2, 'CT':3}
salaries.employment_type = salaries.employment_type.apply(lambda x: dictio_typ[x])

In [9]:
dictio_curr = {'USD': 4, 'EUR': 2, 'INR': 1, 'GBP': 2, 'JPY': 2, 'CAD': 4, 'MXN':0, 'CHF':2, 'CLP':0, 'TRY':1, 'AUD':3, 'BRL':0, 'HUF':2, 'PLN':2, 'SGD':1}

salaries.salary_currency = salaries.salary_currency.apply(lambda x: dictio_curr[x])

salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,Continent
0,2022,SE,2,Data Engineer,140250,4,140250,US,100,US,M,AME
1,2022,SE,2,Data Engineer,135000,4,135000,US,100,US,M,AME
2,2021,MI,2,BI Data Analyst,100000,4,100000,US,100,US,M,AME
3,2021,MI,3,ML Engineer,270000,4,270000,US,100,US,L,AME
4,2021,MI,2,Data Engineer,22000,2,26005,RO,0,US,L,EUR

In [10]:
dictio = {'EN': 0, 'MI': 1, 'SE': 2, 'EX':3}


salaries.experience_level = salaries.experience_level.apply(lambda x: dictio[x])

salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,Continent
0,2022,2,2,Data Engineer,140250,4,140250,US,100,US,M,AME
1,2022,2,2,Data Engineer,135000,4,135000,US,100,US,M,AME
2,2021,1,2,BI Data Analyst,100000,4,100000,US,100,US,M,AME
3,2021,1,3,ML Engineer,270000,4,270000,US,100,US,L,AME
4,2021,1,2,Data Engineer,22000,2,26005,RO,0,US,L,EUR

In [11]:
def job_title(data):
    if 'Head' in data:
        return 'Data_Head'
    elif 'Director' in data:
        return 'Data_Director'
    elif 'Lead' in data:
        return 'Data_Lead'
    elif 'Principal' in data:
        return 'Data_Princial'
    else:
        return 'Data_Other'

In [12]:
salaries.job_title = salaries.job_title.apply(job_title)

salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,Continent
0,2022,2,2,Data_Other,140250,4,140250,US,100,US,M,AME
1,2022,2,2,Data_Other,135000,4,135000,US,100,US,M,AME
2,2021,1,2,Data_Other,100000,4,100000,US,100,US,M,AME
3,2021,1,3,Data_Other,270000,4,270000,US,100,US,L,AME
4,2021,1,2,Data_Other,22000,2,26005,RO,0,US,L,EUR

In [13]:
dictio_title = {'Data_Other': 0, 'Data_Head': 1, 'Data_Lead': 1, 'Data_Director': 2, 'Data_Princial': 3}


salaries.job_title = salaries.job_title.apply(lambda x: dictio_title[x])

In [14]:
salaries.drop(['Continent'], axis = 1, inplace = True)

In [15]:
salaries.drop('salary', axis = 1, inplace = True)

In [16]:
salaries.drop('employee_residence', axis = 1, inplace = True)

In [17]:
dictio_comp_loc = {'US':'AME', 'GB':'EUR', 'CA':'AME', 'DE':'EUR', 'IN':'ASI', 'FR':'EUR', 'ES':'EUR', 'GR':'EUR', 'JP':'ASI', 'NL':'EUR', 'PT':'EUR', 
                   'LU':'EUR', 'AE':'ASI', 'AT':'EUR', 'PL':'EUR', 'PK':'ASI', 'TR':'ASI', 'CH':'EUR', 'AU':'AUS', 'BR':'LTM', 'NG':'AFR', 'SI':'EUR', 
                   'BE':'EUR', 'MT':'EUR', 'IR':'EUR', 'DZ':'AFR', 'HU':'EUR', 'CZ':'EUR', 'HN':'LTM', 'RO':'EUR', 'CL':'LTM', 'EE':'EUR', 'UA':'EUR', 
                   'NZ':'AUS', 'DK':'EUR', 'CN':'ASI', 'KE':'AFR', 'VN':'ASI', 'MX':'LTM', 'IE':'EUR', 'AS':'AME', 'MD':'EUR', 'SG':'ASI'}

salaries.company_location = salaries.company_location.apply(lambda x: dictio_comp_loc[x])

In [18]:
dictio_cont_lab = {'LTM':0, 'AFR':1, 'ASI':2, 'EUR':3, 'AUS':4, 'AME':5}

salaries.company_location = salaries.company_location.apply(lambda x: dictio_cont_lab[x])

In [19]:
salaries = pd.get_dummies(salaries, columns = ['company_size'], drop_first = True)

In [20]:
from sklearn.preprocessing import StandardScaler    

data_num=pd.DataFrame(StandardScaler().fit_transform(salaries[['work_year', 'remote_ratio']]),
                      
                      columns= ['work_year', 'remote_ratio'])


data_obj=salaries[['job_title', 'company_size_M', 'company_size_S', 'salary_in_usd', 'experience_level', 'employment_type', 'salary_currency', 'company_location']]

data=pd.concat([data_num, data_obj], axis=1)

In [21]:
X = data.drop(['salary_in_usd', 'salary_currency'], axis = 1)
y = data.salary_in_usd

In [22]:
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test = tts(X, y, train_size = 0.8)

In [23]:
from lazypredict.Supervised import LazyRegressor 

lazy=LazyRegressor()
lazy.fit(X_train, X_test, y_train, y_test)

100%|███████████████████████████████████████████| 42/42 [00:04<00:00, 10.23it/s]

(                               Adjusted R-Squared  R-Squared      RMSE  \
 Model
 PoissonRegressor                             0.40       0.45  49018.88
 BayesianRidge                                0.39       0.44  49132.53
 RidgeCV                                      0.39       0.44  49136.35
 Ridge                                        0.39       0.44  49157.85
 LassoLarsIC                                  0.39       0.44  49159.79
 LassoLars                                    0.39       0.44  49160.77
 Lasso                                        0.39       0.44  49161.38
 Lars                                         0.39       0.44  49161.42
 TransformedTargetRegressor                   0.39       0.44  49161.42
 LinearRegression                             0.39       0.44  49161.42
 SGDRegressor                                 0.39       0.44  49204.50
 LassoCV                                      0.39       0.44  49231.60
 LassoLarsCV                                  0.39       0.44  49332.73
 LarsCV                                       0.39       0.44  49332.73
 HistGradientBoostingRegressor                0.37       0.42  50226.41
 LGBMRegressor                                0.37       0.42  50226.41
 HuberRegressor                               0.37       0.42  50260.05
 OrthogonalMatchingPursuitCV                  0.36       0.42  50318.73
 PassiveAggressiveRegressor                   0.36       0.41  50367.86
 ElasticNet                                   0.36       0.41  50507.61
 RANSACRegressor                              0.35       0.40  50962.16
 TweedieRegressor                             0.31       0.36  52462.70
 OrthogonalMatchingPursuit                    0.29       0.35  52996.73
 GammaRegressor                               0.29       0.35  53089.81
 AdaBoostRegressor                            0.28       0.33  53677.23
 KNeighborsRegressor                          0.27       0.33  53898.76
 GradientBoostingRegressor                    0.24       0.30  55122.15
 RandomForestRegressor                        0.18       0.25  56995.29
 BaggingRegressor                             0.14       0.21  58352.46
 ExtraTreesRegressor                          0.02       0.10  62301.18
 XGBRegressor                                 0.01       0.09  62817.01
 ExtraTreeRegressor                          -0.05       0.04  64597.38
 ElasticNetCV                                -0.05       0.03  64666.25
 DummyRegressor                              -0.09      -0.00  65809.07
 NuSVR                                       -0.10      -0.01  66098.06
 SVR                                         -0.11      -0.02  66327.11
 QuantileRegressor                           -0.11      -0.02  66344.89
 DecisionTreeRegressor                       -0.13      -0.04  67049.36
 GaussianProcessRegressor                    -0.13      -0.04  67065.92
 KernelRidge                                 -3.10      -2.77 127759.67
 LinearSVR                                   -3.28      -2.94 130569.51
 MLPRegressor                                -3.30      -2.95 130865.77

                                Time Taken
 Model
 PoissonRegressor                     0.03
 BayesianRidge                        0.01
 RidgeCV                              0.02
 Ridge                                0.01
 LassoLarsIC                          0.02
 LassoLars                            0.01
 Lasso                                0.01
 Lars                                 0.02
 TransformedTargetRegressor           0.01
 LinearRegression                     0.02
 SGDRegressor                         0.01
 LassoCV                              0.10
 LassoLarsCV                          0.03
 LarsCV                               0.03
 HistGradientBoostingRegressor        0.55
 LGBMRegressor                        0.05
 HuberRegressor                       0.02
 OrthogonalMatchingPursuitCV          0.03
 PassiveAggressiveRegressor           0.05
 ElasticNet                           0.01
 RANSACRegressor                      0.06
 TweedieRegressor                     0.01
 OrthogonalMatchingPursuit            0.01
 GammaRegressor                       0.02
 AdaBoostRegressor                    0.05
 KNeighborsRegressor                  0.02
 GradientBoostingRegressor            0.07
 RandomForestRegressor                0.17
 BaggingRegressor                     0.03
 ExtraTreesRegressor                  0.12
 XGBRegressor                         0.07
 ExtraTreeRegressor                   0.01
 ElasticNetCV                         0.06
 DummyRegressor                       0.01
 NuSVR                                0.03
 SVR                                  0.03
 QuantileRegressor                    1.76
 DecisionTreeRegressor                0.01
 GaussianProcessRegressor             0.03
 KernelRidge                          0.02
 LinearSVR                            0.02
 MLPRegressor                         0.41  ,
                                Adjusted R-Squared  R-Squared      RMSE  \
 Model
 PoissonRegressor                             0.40       0.45  49018.88
 BayesianRidge                                0.39       0.44  49132.53
 RidgeCV                                      0.39       0.44  49136.35
 Ridge                                        0.39       0.44  49157.85
 LassoLarsIC                                  0.39       0.44  49159.79
 LassoLars                                    0.39       0.44  49160.77
 Lasso                                        0.39       0.44  49161.38
 Lars                                         0.39       0.44  49161.42
 TransformedTargetRegressor                   0.39       0.44  49161.42
 LinearRegression                             0.39       0.44  49161.42
 SGDRegressor                                 0.39       0.44  49204.50
 LassoCV                                      0.39       0.44  49231.60
 LassoLarsCV                                  0.39       0.44  49332.73
 LarsCV                                       0.39       0.44  49332.73
 HistGradientBoostingRegressor                0.37       0.42  50226.41
 LGBMRegressor                                0.37       0.42  50226.41
 HuberRegressor                               0.37       0.42  50260.05
 OrthogonalMatchingPursuitCV                  0.36       0.42  50318.73
 PassiveAggressiveRegressor                   0.36       0.41  50367.86
 ElasticNet                                   0.36       0.41  50507.61
 RANSACRegressor                              0.35       0.40  50962.16
 TweedieRegressor                             0.31       0.36  52462.70
 OrthogonalMatchingPursuit                    0.29       0.35  52996.73
 GammaRegressor                               0.29       0.35  53089.81
 AdaBoostRegressor                            0.28       0.33  53677.23
 KNeighborsRegressor                          0.27       0.33  53898.76
 GradientBoostingRegressor                    0.24       0.30  55122.15
 RandomForestRegressor                        0.18       0.25  56995.29
 BaggingRegressor                             0.14       0.21  58352.46
 ExtraTreesRegressor                          0.02       0.10  62301.18
 XGBRegressor                                 0.01       0.09  62817.01
 ExtraTreeRegressor                          -0.05       0.04  64597.38
 ElasticNetCV                                -0.05       0.03  64666.25
 DummyRegressor                              -0.09      -0.00  65809.07
 NuSVR                                       -0.10      -0.01  66098.06
 SVR                                         -0.11      -0.02  66327.11
 QuantileRegressor                           -0.11      -0.02  66344.89
 DecisionTreeRegressor                       -0.13      -0.04  67049.36
 GaussianProcessRegressor                    -0.13      -0.04  67065.92
 KernelRidge                                 -3.10      -2.77 127759.67
 LinearSVR                                   -3.28      -2.94 130569.51
 MLPRegressor                                -3.30      -2.95 130865.77

                                Time Taken
 Model
 PoissonRegressor                     0.03
 BayesianRidge                        0.01
 RidgeCV                              0.02
 Ridge                                0.01
 LassoLarsIC                          0.02
 LassoLars                            0.01
 Lasso                                0.01
 Lars                                 0.02
 TransformedTargetRegressor           0.01
 LinearRegression                     0.02
 SGDRegressor                         0.01
 LassoCV                              0.10
 LassoLarsCV                          0.03
 LarsCV                               0.03
 HistGradientBoostingRegressor        0.55
 LGBMRegressor                        0.05
 HuberRegressor                       0.02
 OrthogonalMatchingPursuitCV          0.03
 PassiveAggressiveRegressor           0.05
 ElasticNet                           0.01
 RANSACRegressor                      0.06
 TweedieRegressor                     0.01
 OrthogonalMatchingPursuit            0.01
 GammaRegressor                       0.02
 AdaBoostRegressor                    0.05
 KNeighborsRegressor                  0.02
 GradientBoostingRegressor            0.07
 RandomForestRegressor                0.17
 BaggingRegressor                     0.03
 ExtraTreesRegressor                  0.12
 XGBRegressor                         0.07
 ExtraTreeRegressor                   0.01
 ElasticNetCV                         0.06
 DummyRegressor                       0.01
 NuSVR                                0.03
 SVR                                  0.03
 QuantileRegressor                    1.76
 DecisionTreeRegressor                0.01
 GaussianProcessRegressor             0.03
 KernelRidge                          0.02
 LinearSVR                            0.02
 MLPRegressor                         0.41  )

In [24]:
from sklearn.linear_model import LassoLarsIC  
from sklearn.metrics import mean_squared_error as mse

In [25]:
lasso = LassoLarsIC()

lasso.fit(X, y)

LassoLarsIC()

In [26]:
len(lasso.predict(X_test))

100

In [27]:
y_pred = lasso.predict(X_test)

mse(y_test, y_pred, squared = False)

48439.84127902443

In [28]:
testeo.head()

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Machine Learning Scientist,JP,0,JP,S
1,2020,MI,FT,Lead Data Analyst,US,100,US,L
2,2020,MI,FT,Data Analyst,US,100,US,L
3,2020,MI,FT,Machine Learning Engineer,CN,0,CN,M
4,2020,MI,FT,Product Data Analyst,IN,100,IN,L

In [29]:
testeo.experience_level = testeo.experience_level.apply(lambda x: dictio[x])

In [30]:
testeo.employment_type = testeo.employment_type.apply(lambda x: dictio_typ[x])

In [31]:
testeo.job_title = testeo.job_title.apply(job_title)
testeo.job_title = testeo.job_title.apply(lambda x: dictio_title[x])

In [32]:
testeo.drop('employee_residence', axis = 1, inplace = True)

In [33]:
testeo.company_location.unique()

array(['JP', 'US', 'CN', 'IN', 'MX', 'FR', 'DK', 'IT', 'HR', 'DE', 'GB',
       'CA', 'IQ', 'IL', 'RU', 'ES', 'CO', 'AT', 'BR', 'GR', 'CZ', 'PL',
       'MY', 'AU'], dtype=object)

In [34]:
dictio_comp_loc_test = {'JP':'ASI', 'US':'AME', 'CN':'ASI', 'IN':'ASI', 'MX':'LTM', 'FR':'EUR', 'DK':'EUR', 'IT':'EUR', 'HR':'EUR', 
                        'DE':'EUR', 'GB':'EUR', 'CA':'AME', 'IQ':'ASI', 'IL':'ASI', 'RU':'EUR', 'ES':'EUR', 'CO':'LTM',
                        'AT':'EUR', 'BR':'LTM', 'GR':'EUR', 'CZ':'EUR', 'PL':'EUR', 'MY':'ASI', 'AU':'AUS'}

testeo.company_location = testeo.company_location.apply(lambda x: dictio_comp_loc_test[x])

In [35]:
testeo.company_location = testeo.company_location.apply(lambda x: dictio_cont_lab[x])

In [36]:
testeo = pd.get_dummies(testeo, columns = ['company_size'], drop_first = True)

In [37]:
from sklearn.preprocessing import StandardScaler    

data_num=pd.DataFrame(StandardScaler().fit_transform(testeo[['work_year', 'remote_ratio']]),
                      
                      columns= ['work_year', 'remote_ratio'])


data_obj=testeo[['job_title', 'company_size_M', 'company_size_S', 'experience_level', 'employment_type', 'company_location']]

data_test=pd.concat([data_num, data_obj], axis=1)

In [38]:
data_test.head()

,work_year,remote_ratio,job_title,company_size_M,company_size_S,experience_level,employment_type,company_location
0,-1.87,-1.61,0,0,1,2,2,2
1,-1.87,0.80,1,0,0,1,2,5
2,-1.87,0.80,0,0,0,1,2,5
3,-1.87,-1.61,0,1,0,1,2,2
4,-1.87,0.80,0,0,0,1,2,2

In [39]:
X_test.head()

,work_year,remote_ratio,job_title,company_size_M,company_size_S,experience_level,employment_type,company_location
499,-0.61,0.70,0,1,0,0,2,5
225,0.86,0.70,0,0,0,2,2,5
152,0.86,0.70,0,1,0,2,2,5
334,-2.07,0.70,0,0,0,1,2,5
312,-0.61,0.70,0,0,0,2,2,5

In [40]:
y_test_pred = lasso.predict(data_test[:-7])

mse(y_test, y_test_pred, squared = False)

78852.4879546777

In [41]:
data_test.shape

(107, 8)

In [42]:
data.shape

(500, 10)

In [43]:
X_test.shape

(100, 8)

In [44]:
from sklearn.ensemble import HistGradientBoostingRegressor

hist = HistGradientBoostingRegressor()

hist.fit(X, y)

HistGradientBoostingRegressor()

In [45]:
pred = hist.predict(data_test)

In [46]:
#muestra['salary_in_usd'] = pred

In [47]:
#muestra.to_csv('muestra(HGBR).csv', index = False)

In [48]:
from lightgbm import LGBMRegressor as LGBMR

lgbmr = LGBMR()

lgbmr.fit(X, y)

pred_2 = lgbmr.predict(data_test)

In [49]:
#muestra['salary_in_usd'] = pred_2

In [50]:
#muestra.to_csv('muestra(LGBMR).csv', index = False)

In [51]:
from sklearn.linear_model import PoissonRegressor


poisson = PoissonRegressor()

poisson.fit(X, y)

pred_3 = poisson.predict(data_test)

In [52]:
muestra.head()

   id  salary_in_usd
0   0          26352
1   1          40574
2   2          68759
3   3          74733
4   4          32611

In [53]:
muestra['salary_in_usd'] = pred_3

In [54]:
muestra.head()

   id  salary_in_usd
0   0       48017.54
1   1      159782.97
2   2      134671.43
3   3       43871.16
4   4       52212.62

In [55]:
#muestra.to_csv('muestra(Poisson).csv', index = False)

In [56]:
from sklearn.linear_model import PoissonRegressor


poisson = PoissonRegressor()

poisson.fit(X_train, y_train)

pred_4 = poisson.predict(data_test)

In [57]:
from sklearn.metrics import mean_squared_error as mse  

#mse(y_test, pred_4, squared=False)

In [58]:
muestra['salary_in_usd'] = pred_4

In [59]:
muestra.head()

   id  salary_in_usd
0   0       43487.01
1   1      161841.43
2   2      133420.05
3   3       42608.73
4   4       50541.70