## TESTEO DE MODELOS 4

En este archivo, siguiendo un proceso similar a los anteriores, logro hacer mi mejor marca en la competici√≥n.

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

import pylab as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
salaries = pd.read_csv('../data/salaries_data.csv')
testeo = pd.read_csv('../data/testeo.csv')
muestra = pd.read_csv('../data/muestra.csv')

In [3]:
df = pd.concat([salaries, testeo])

In [4]:
df.reset_index(drop=True, inplace=True)

In [5]:
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250.0,USD,140250.0,US,100,US,M
1,2022,SE,FT,Data Engineer,135000.0,USD,135000.0,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000.0,USD,100000.0,US,100,US,M
3,2021,MI,CT,ML Engineer,270000.0,USD,270000.0,US,100,US,L
4,2021,MI,FT,Data Engineer,22000.0,EUR,26005.0,RO,0,US,L
5,2022,MI,FT,Machine Learning Scientist,153000.0,USD,153000.0,US,50,US,M
6,2020,EN,FT,Data Scientist,45000.0,EUR,51321.0,FR,0,FR,S
7,2021,EN,FT,Data Scientist,42000.0,EUR,49646.0,FR,50,FR,M
8,2022,MI,FT,Data Engineer,70000.0,EUR,76940.0,GR,100,GR,M
9,2021,EN,FT,Data Analyst,50000.0,EUR,59102.0,FR,50,FR,M
10,2020,MI,FT,Data Scientist,55000.0,EUR,62726.0,FR,50,LU,S
11,2022,SE,FT,Data Engineer,110500.0,USD,110500.0,US,100,US,M
12,2022,SE,FT,Data Engineer,136994.0,USD,136994.0,US,100,US,M
13,2021,MI,FT,Machine Learning Engineer,21000.0,EUR,24823.0,SI,50,SI,L
14,2020,SE,FT,Principal Data Scientist,130000.0,EUR,148261.0,DE,100,DE,M
15,2022,SE,FT,Data Engineer,175000.0,USD,175000.0,US,100,US,M
16,2020,MI,FT,Data Engineering Manager,51999.0,EUR,59303.0,DE,100,DE,S
17,2021,MI,FT,Data Engineer,112000.0,USD,112000.0,US,100,US,L
18,2021,EN,FT,Data Engineer,2250000.0,INR,30428.0,IN,100,IN,L
19,2022,SE,FT,Data Analytics Manager,109280.0,USD,109280.0,US,100,US,M
20,2020,SE,FT,Big Data Engineer,85000.0,GBP,109024.0,GB,50,GB,M
21,2021,MI,FL,Machine Learning Scientist,12000.0,USD,12000.0,PK,50,PK,M
22,2022,SE,FT,Data Engineer,154000.0,USD,154000.0,US,100,US,M
23,2021,MI,FT,Data Scientist,160000.0,USD,160000.0,US,100,US,L
24,2021,MI,FT,Big Data Engineer,18000.0,USD,18000.0,MD,0,MD,S
25,2021,MI,FT,ML Engineer,8500000.0,JPY,77364.0,JP,50,JP,S
26,2022,SE,FT,Data Engineer,132320.0,USD,132320.0,US,0,US,M
27,2021,MI,FT,Data Scientist,130000.0,USD,130000.0,US,50,US,L
28,2022,SE,FT,Data Analyst,69000.0,USD,69000.0,US,100,US,M
29,2022,MI,FT,Data Engineer,60000.0,GBP,78526.0,GB,100,GB,M
30,2021,EN,FT,Research Scientist,60000.0,GBP,82528.0,GB,50,GB,L
31,2022,SE,FT,Data Analyst,112900.0,USD,112900.0,US,100,US,M
32,2022,SE,FT,Machine Learning Developer,100000.0,CAD,78791.0,CA,100,CA,M
33,2022,EN,FT,Computer Vision Engineer,10000.0,USD,10000.0,PT,100,LU,M
34,2021,MI,FT,Research Scientist,48000.0,EUR,56738.0,FR,50,FR,S
35,2022,SE,FT,Data Analyst,150075.0,USD,150075.0,US,100,US,M
36,2022,MI,FT,Data Scientist,160000.0,USD,160000.0,US,100,US,M
37,2022,SE,FT,Data Analyst,61300.0,USD,61300.0,CA,100,CA,M
38,2021,EN,FT,AI Scientist,1335000.0,INR,18053.0,IN,100,AS,S
39,2022,SE,FT,Data Scientist,80000.0,GBP,104702.0,GB,0,GB,M
40,2022,SE,FT,Data Scientist,140000.0,USD,140000.0,US,100,US,M
41,2022,SE,FT,Data Scientist,140000.0,USD,140000.0,US,100,US,M
42,2020,SE,FT,Machine Learning Manager,157000.0,CAD,117104.0,CA,50,CA,L
43,2022,SE,FT,Machine Learning Engineer,65000.0,EUR,71444.0,IE,100,IE,S
44,2022,SE,FT,Data Analyst,90320.0,USD,90320.0,US,100,US,M
45,2020,MI,FT,Lead Data Scientist,115000.0,USD,115000.0,AE,0,AE,L
46,2021,MI,FL,Data Engineer,20000.0,USD,20000.0,IT,0,US,L
47,2021,MI,FT,Data Engineer,140000.0,USD,140000.0,US,100,US,L
48,2022,MI,FT,Machine Learning Engineer,75000.0,GBP,98158.0,GB,0,GB,M
49,2022,SE,FT,Data Scientist,215300.0,USD,215300.0,US,100,US,L
50,2022,SE,FT,Data Analyst,81666.0,USD,81666.0,US,100,US,M
51,2021,MI,FT,Data Scientist,58000.0,MXN,2859.0,MX,0,MX,S
52,2022,MI,FT,Data Engineer,99100.0,USD,99100.0,US,0,US,M
53,2022,SE,FT,Data Analyst,100000.0,USD,100000.0,US,100,US,M
54,2022,SE,FT,Data Engineer,165400.0,USD,165400.0,US,100,US,M
55,2022,SE,FT,Data Analyst,115934.0,USD,115934.0,US,100,US,M
56,2021,SE,FT,Data Analytics Manager,120000.0,USD,120000.0,US,100,US,M
57,2021,EX,FT,Director of Data Science,120000.0,EUR,141846.0,DE,0,DE,L
58,2021,EN,FT,Data Scientist,4000.0,USD,4000.0,VN,0,VN,M
59,2021,SE,FT,Machine Learning Engineer,70000.0,EUR,82744.0,BE,50,BE,M
60,2022,MI,FT,Machine Learning Scientist,112300.0,USD,112300.0,US,100,US,L
61,2021,EN,FT,BI Data Analyst,9272.0,USD,9272.0,KE,100,KE,S
62,2021,MI,PT,3D Computer Vision Researcher,400000.0,INR,5409.0,IN,50,IN,M
63,2020,SE,FT,Data Scientist,412000.0,USD,412000.0,US,100,US,L
64,2021,SE,FT,Data Specialist,165000.0,USD,165000.0,US,100,US,L
65,2022,MI,FT,Data Engineer,206699.0,USD,206699.0,US,0,US,M
66,2021,SE,FT,Machine Learning Engineer,80000.0,EUR,94564.0,DE,50,DE,L
67,2022,MI,FT,Data Analyst,50000.0,GBP,65438.0,GB,0,GB,M
68,2022,SE,FT,Data Analyst,130000.0,USD,130000.0,CA,100,CA,M
69,2021,MI,FT,Applied Data Scientist,68000.0,CAD,54238.0,GB,50,CA,L
70,2021,SE,FT,AI Scientist,55000.0,USD,55000.0,ES,100,ES,L
71,2022,MI,FT,Data Scientist,115000.0,CHF,122346.0,CH,0,CH,L
72,2020,SE,FT,Lead Data Scientist,190000.0,USD,190000.0,US,100,US,S
73,2021,EN,FT,Data Analyst,90000.0,USD,90000.0,US,100,US,S
74,2021,SE,FT,Data Science Engineer,159500.0,CAD,127221.0,CA,50,CA,L
75,2021,SE,FT,ML Engineer,256000.0,USD,256000.0,US,100,US,S
76,2021,SE,FT,Data Engineer,65000.0,EUR,76833.0,RO,50,GB,S
77,2021,SE,FT,Head of Data,87000.0,EUR,102839.0,SI,100,SI,L
78,2021,MI,FT,Data Scientist,73000.0,USD,73000.0,US,0,US,L
79,2021,SE,FT,Data Scientist,65720.0,EUR,77684.0,FR,50,FR,M
80,2021,SE,FT,Data Engineer,150000.0,USD,150000.0,US,100,US,L
81,2022,EN,FT,Data Engineer,120000.0,USD,120000.0,US,100,US,M
82,2021,MI,FT,Data Analyst,90000.0,USD,90000.0,US,100,US,M
83,2022,MI,FT,Data Analyst,30000.0,EUR,32974.0,GR,100,GR,M
84,2022,EX,FT,Analytics Engineer,135000.0,USD,135000.0,US,100,US,M
85,2021,EX,FT,BI Data Analyst,150000.0,USD,150000.0,IN,100,US,L
86,2020,EN,FT,Machine Learning Engineer,138000.0,USD,138000.0,US,100,US,S
87,2022,SE,FT,Data Engineer,183600.0,USD,183600.0,US,100,US,L
88,2021,MI,FT,Data Scientist,109000.0,USD,109000.0,US,50,US,L
89,2021,SE,FT,Data Analyst,54000.0,EUR,63831.0,DE,50,DE,L
90,2021,MI,FT,Data Scientist,30400000.0,CLP,40038.0,CL,100,CL,L
91,2022,MI,PT,Data Engineer,50000.0,EUR,54957.0,DE,50,DE,L
92,2022,MI,FT,Data Scientist,120000.0,USD,120000.0,US,100,US,M
93,2020,MI,FT,Data Engineer,110000.0,USD,110000.0,US,100,US,L
94,2022,SE,FT,Data Engineer,181940.0,USD,181940.0,US,0,US,M
95,2022,EN,FT,Data Engineer,52800.0,EUR,58035.0,PK,100,DE,M
96,2021,EN,FT,Research Scientist,100000.0,USD,100000.0,JE,0,CN,L
97,2022,MI,FT,ETL Developer,50000.0,EUR,54957.0,GR,0,GR,M
98,2020,MI,FT,Data Scientist,3000000.0,INR,40481.0,IN,0,IN,L
99,2022,SE,FT,Data Engineer,126000.0,USD,126000.0,US,100,US,M
100,2021,MI,FT,Machine Learning Engineer,40000.0,EUR,47282.0,ES,100,ES,S
101,2021,SE,FT,Marketing Data Analyst,75000.0,EUR,88654.0,GR,100,DK,L
102,2021,SE,FT,Data Analytics Manager,120000.0,USD,120000.0,US,0,US,L
103,2022,EX,FT,Data Engineer,200000.0,USD,200000.0,US,100,US,M
104,2022,SE,FT,Data Analyst,136600.0,USD,136600.0,US,100,US,M
105,2021,EN,FT,Data Analyst,80000.0,USD,80000.0,US,100,US,M
106,2022,SE,FT,Data Analyst,120600.0,USD,120600.0,US,100,US,M
107,2022,SE,FT,Data Architect,266400.0,USD,266400.0,US,100,US,M
108,2022,SE,FT,Data Analyst,155000.0,USD,155000.0,US,100,US,M
109,2021,MI,FT,Data Scientist,76760.0,EUR,90734.0,DE,50,DE,L
110,2022,MI,FT,Data Analyst,30000.0,GBP,39263.0,GB,100,GB,M
111,2021,MI,FT,Data Engineer,108000.0,TRY,12103.0,TR,0,TR,M
112,2021,SE,FT,Data Engineering Manager,153000.0,USD,153000.0,US,100,US,L
113,2022,SE,FT,Data Scientist,176000.0,USD,176000.0,US,100,US,M
114,2021,EN,FT,Data Science Consultant,54000.0,EUR,63831.0,DE,50,DE,L
115,2022,MI,FT,Data Analyst,30000.0,EUR,32974.0,ES,100,ES,M
116,2021,MI,FT,Data Engineer,250000.0,TRY,28016.0,TR,100,TR,M
117,2021,SE,FT,Principal Data Analyst,170000.0,USD,170000.0,US,100,US,M
118,2022,SE,FT,Data Scientist,138600.0,USD,138600.0,US,100,US,M
119,2022,MI,FT,Machine Learning Engineer,120000.0,USD,120000.0,US,100,US,S
120,2022,SE,FT,Data Analyst,99050.0,USD,99050.0,US,100,US,M
121,2021,MI,FT,Head of Data Science,110000.0,USD,110000.0,US,0,US,S
122,2020,SE,FT,Lead Data Engineer,125000.0,USD,125000.0,NZ,50,NZ,S
123,2021,MI,FT,Data Scientist,75000.0,EUR,88654.0,DE,50,DE,L
124,2022,SE,FT,Data Architect,144854.0,USD,144854.0,US,100,US,M
125,2022,SE,FT,Data Science Manager,152500.0,USD,152500.0,US,100,US,M
126,2021,MI,FT,Applied Machine Learning Scientist,38400.0,USD,38400.0,VN,100,US,M
127,2022,SE,FT,Data Engineer,50000.0,GBP,65438.0,GB,0,GB,M
128,2022,SE,FT,Data Scientist,99360.0,USD,99360.0,US,100,US,M
129,2022,SE,FT,Data Scientist,150000.0,USD,150000.0,US,100,US,M
130,2021,MI,FT,Data Architect,180000.0,USD,180000.0,US,100,US,L
131,2021,EX,FT,Director of Data Science,130000.0,EUR,153667.0,IT,100,PL,L
132,2021,MI,FT,Data Scientist,147000.0,USD,147000.0,US,50,US,L
133,2022,SE,FT,Data Scientist,140000.0,USD,140000.0,US,100,US,M
134,2021,MI,FT,Data Analyst,135000.0,USD,135000.0,US,100,US,L
135,2022,SE,FT,Data Engineer,160080.0,USD,160080.0,US,100,US,M
136,2022,SE,FT,Data Scientist,170000.0,USD,170000.0,US,100,US,M
137,2021,SE,FT,Data Scientist,45000.0,EUR,53192.0,FR,50,FR,L
138,2021,MI,FT,Lead Data Analyst,1450000.0,INR,19609.0,IN,100,IN,L
139,2022,SE,FT,Data Scientist,211500.0,USD,211500.0,US,100,US,M
140,2020,EN,FT,Data Scientist,105000.0,USD,105000.0,US,100,US,S
141,2020,MI,FT,Data Analyst,8000.0,USD,8000.0,PK,50,PK,L
142,2021,EN,FT,Data Scientist,13400.0,USD,13400.0,UA,100,UA,L
143,2022,SE,FT,Data Analyst,90320.0,USD,90320.0,US,100,US,M
144,2021,SE,FT,Lead Data Analyst,170000.0,USD,170000.0,US,100,US,L
145,2022,EN,FT,Data Scientist,120000.0,AUD,86703.0,AU,50,AU,M
146,2021,MI,FT,Data Science Engineer,34000.0,EUR,40189.0,GR,100,GR,M
147,2022,MI,FT,Data Scientist,130000.0,USD,130000.0,US,100,US,M
148,2022,MI,FT,Data Scientist,35000.0,GBP,45807.0,GB,0,GB,M
149,2020,MI,FT,Research Scientist,450000.0,USD,450000.0,US,0,US,M
150,2020,MI,FT,Data Scientist,70000.0,EUR,79833.0,DE,0,DE,L
151,2022,EN,FT,Data Analyst,67000.0,USD,67000.0,CA,0,CA,M
152,2022,SE,FT,Data Engineer,130000.0,USD,130000.0,US,100,US,M
153,2022,SE,FT,Data Analyst,61300.0,USD,61300.0,CA,100,CA,M
154,2022,SE,FT,Data Engineer,132320.0,USD,132320.0,US,100,US,M
155,2022,SE,FT,Data Analyst,102100.0,USD,102100.0,US,100,US,M
156,2021,MI,FT,Data Engineer,52500.0,GBP,72212.0,GB,50,GB,L
157,2020,SE,FT,Data Engineer,42000.0,EUR,47899.0,GR,50,GR,L
158,2022,SE,FT,Data Engineer,154600.0,USD,154600.0,US,100,US,L
159,2021,MI,FT,Data Scientist,50000.0,USD,50000.0,NG,100,NG,L
160,2021,SE,FT,Data Analyst,80000.0,USD,80000.0,BG,100,US,S
161,2022,SE,FT,Data Scientist,123000.0,USD,123000.0,US,100,US,M
162,2021,MI,FT,Data Engineer,48000.0,GBP,66022.0,HK,50,GB,S
163,2020,EN,FT,Data Science Consultant,423000.0,INR,5707.0,IN,50,IN,M
164,2022,MI,FT,Head of Data,30000.0,EUR,32974.0,EE,100,EE,S
165,2022,SE,FT,Data Scientist,140000.0,USD,140000.0,US,100,US,M
166,2021,MI,FT,Data Engineer,100000.0,USD,100000.0,US,100,US,L
167,2021,MI,FT,Research Scientist,69999.0,USD,69999.0,CZ,50,CZ,L
168,2021,EN,FT,Data Scientist,100000.0,USD,100000.0,US,100,US,M
169,2022,SE,FT,Data Engineer,130000.0,USD,130000.0,US,100,US,M
170,2022,SE,FT,Data Engineer,160000.0,USD,160000.0,US,0,US,L
171,2022,SE,FT,Applied Data Scientist,380000.0,USD,380000.0,US,100,US,L
172,2022,EN,FT,Data Engineer,35000.0,GBP,45807.0,GB,100,GB,M
173,2022,SE,FT,Analytics Engineer,184700.0,USD,184700.0,US,0,US,M
174,2022,SE,FT,Principal Data Scientist,148000.0,EUR,162674.0,DE,100,DE,M
175,2021,EX,FT,Director of Data Science,250000.0,USD,250000.0,US,0,US,L
176,2020,SE,FL,Computer Vision Engineer,60000.0,USD,60000.0,RU,100,US,S
177,2022,SE,FT,Data Analyst,150000.0,USD,150000.0,US,100,US,M
178,2020,MI,FT,Data Scientist,60000.0,GBP,76958.0,GB,100,GB,S
179,2021,SE,FT,Lead Data Engineer,276000.0,USD,276000.0,US,0,US,L
180,2021,SE,FT,Lead Data Engineer,160000.0,USD,160000.0,PR,50,US,S
181,2021,SE,FT,Data Engineer,150000.0,USD,150000.0,US,100,US,M
182,2022,SE,FT,Data Engineer,54000.0,USD,54000.0,US,0,US,M
183,2022,MI,FT,AI Scientist,200000.0,USD,200000.0,IN,100,US,L
184,2022,SE,FT,Data Scientist,230000.0,USD,230000.0,US,100,US,M
185,2022,MI,FT,Data Engineer,75000.0,GBP,98158.0,GB,100,GB,M
186,2022,SE,FT,Data Analyst,99000.0,USD,99000.0,US,0,US,M
187,2022,SE,FT,Data Analyst,81666.0,USD,81666.0,US,0,US,M
188,2021,MI,FT,Machine Learning Engineer,75000.0,EUR,88654.0,BE,100,BE,M
189,2022,SE,FT,Data Engineer,209100.0,USD,209100.0,US,100,US,L
190,2022,MI,FT,Data Engineer,60000.0,EUR,65949.0,ES,100,ES,M
191,2021,SE,FT,Principal Data Scientist,147000.0,EUR,173762.0,DE,100,DE,M
192,2022,MI,FT,Data Scientist,200000.0,USD,200000.0,US,100,US,M
193,2020,SE,FT,Data Scientist,80000.0,EUR,91237.0,AT,0,AT,S
194,2021,SE,FT,Computer Vision Engineer,102000.0,BRL,18907.0,BR,0,BR,M
195,2022,SE,FT,Data Scientist,180000.0,USD,180000.0,US,100,US,M
196,2022,SE,FT,Data Analyst,99000.0,USD,99000.0,US,0,US,M
197,2022,MI,FT,Data Scientist,50000.0,GBP,65438.0,GB,0,GB,M
198,2021,EN,FT,Data Science Consultant,90000.0,USD,90000.0,US,100,US,S
199,2022,EN,PT,Data Scientist,100000.0,USD,100000.0,DZ,50,DZ,M
200,2021,SE,FT,Cloud Data Engineer,160000.0,USD,160000.0,BR,100,US,S
201,2021,EN,PT,Data Analyst,8760.0,EUR,10354.0,ES,50,ES,M
202,2022,MI,FT,Data Engineer,80000.0,GBP,104702.0,GB,100,GB,M
203,2022,SE,FT,Data Scientist,220000.0,USD,220000.0,US,100,US,M
204,2021,MI,FT,Data Engineer,4000.0,USD,4000.0,IR,100,IR,M
205,2021,SE,FT,Data Scientist,135000.0,USD,135000.0,US,0,US,L
206,2022,SE,FT,Machine Learning Engineer,57000.0,EUR,62651.0,NL,100,NL,L
207,2021,SE,FT,Data Engineer,70000.0,GBP,96282.0,GB,50,GB,L
208,2021,MI,FT,Data Scientist,21600.0,EUR,25532.0,RS,100,DE,S
209,2021,MI,FT,Data Scientist,115000.0,USD,115000.0,US,50,US,L
210,2022,SE,FT,Data Engineer,80000.0,USD,80000.0,US,100,US,M
211,2022,SE,FT,Data Scientist,123000.0,USD,123000.0,US,100,US,M
212,2022,SE,FT,Data Scientist,205300.0,USD,205300.0,US,0,US,M
213,2022,MI,FT,Data Scientist,48000.0,USD,48000.0,RU,100,US,S
214,2021,MI,FT,Data Engineer,38400.0,EUR,45391.0,NL,100,NL,L
215,2021,SE,FT,Research Scientist,50000.0,USD,50000.0,FR,100,US,S
216,2021,SE,FT,Data Science Manager,240000.0,USD,240000.0,US,0,US,L
217,2022,SE,FT,Data Engineer,93700.0,USD,93700.0,US,100,US,M
218,2020,MI,FT,Data Scientist,11000000.0,HUF,35735.0,HU,50,HU,L
219,2022,SE,FT,Data Analyst,135000.0,USD,135000.0,US,100,US,M
220,2020,MI,FT,Lead Data Engineer,56000.0,USD,56000.0,PT,100,US,M
221,2021,EN,FT,Data Analyst,60000.0,USD,60000.0,US,100,US,S
222,2022,SE,FT,Data Scientist,210000.0,USD,210000.0,US,100,US,M
223,2020,MI,FT,Data Scientist,34000.0,EUR,38776.0,ES,100,ES,M
224,2022,SE,FT,Data Scientist,146000.0,USD,146000.0,US,100,US,M
225,2022,SE,FT,Data Engineer,209100.0,USD,209100.0,US,100,US,L
226,2022,SE,FT,Lead Machine Learning Engineer,80000.0,EUR,87932.0,DE,0,DE,M
227,2022,SE,FT,Data Analyst,130000.0,USD,130000.0,CA,100,CA,M
228,2022,SE,FT,Data Engineer,220110.0,USD,220110.0,US,100,US,M
229,2020,MI,FT,Data Engineer,61500.0,EUR,70139.0,FR,50,FR,L
230,2022,MI,FT,Data Engineer,75000.0,GBP,98158.0,GB,0,GB,M
231,2020,EX,FT,Director of Data Science,325000.0,USD,325000.0,US,100,US,L
232,2022,EN,FT,ML Engineer,20000.0,EUR,21983.0,PT,100,PT,L
233,2021,MI,FT,Machine Learning Engineer,180000.0,PLN,46597.0,PL,100,PL,L
234,2022,SE,FT,Data Science Manager,161342.0,USD,161342.0,US,100,US,M
235,2022,SE,FT,Data Scientist,136620.0,USD,136620.0,US,100,US,M
236,2020,MI,FT,Machine Learning Infrastructure Engineer,44000.0,EUR,50180.0,PT,0,PT,M
237,2022,MI,FT,Data Science Manager,159000.0,USD,159000.0,US,100,US,M
238,2022,SE,FT,Applied Data Scientist,177000.0,USD,177000.0,US,100,US,L
239,2022,EX,FT,Lead Data Engineer,150000.0,CAD,118187.0,CA,100,CA,S
240,2021,SE,FT,Data Scientist,180000.0,TRY,20171.0,TR,50,TR,L
241,2022,SE,FT,Data Analyst,93700.0,USD,93700.0,US,100,US,M
242,2022,SE,FT,Data Analyst,115934.0,USD,115934.0,US,0,US,M
243,2022,MI,FT,Research Scientist,59000.0,EUR,64849.0,AT,0,AT,L
244,2021,SE,FT,Data Science Manager,144000.0,USD,144000.0,US,100,US,L
245,2021,SE,FT,Machine Learning Scientist,120000.0,USD,120000.0,US,50,US,S
246,2022,MI,FT,Data Scientist,30000.0,GBP,39263.0,GB,0,GB,M
247,2022,SE,FT,Data Engineer,108800.0,USD,108800.0,US,0,US,M
248,2022,EX,FT,Director of Data Science,250000.0,CAD,196979.0,CA,50,CA,L
249,2021,SE,FT,Research Scientist,51400.0,EUR,60757.0,PT,50,PT,L
250,2020,EN,FT,Big Data Engineer,70000.0,USD,70000.0,US,100,US,L
251,2021,EN,PT,AI Scientist,12000.0,USD,12000.0,PK,100,US,M
252,2020,MI,FT,BI Data Analyst,98000.0,USD,98000.0,US,0,US,M
253,2021,SE,FT,Principal Data Scientist,235000.0,USD,235000.0,US,100,US,L
254,2022,SE,FT,Data Analyst,90320.0,USD,90320.0,US,100,US,M
255,2020,EN,FT,Data Scientist,43200.0,EUR,49268.0,DE,0,DE,S
256,2020,MI,FT,Data Scientist,118000.0,USD,118000.0,US,100,US,M
257,2022,SE,FT,Data Analytics Manager,150260.0,USD,150260.0,US,100,US,M
258,2021,MI,FT,Data Scientist,2500000.0,INR,33808.0,IN,0,IN,M
259,2020,SE,FT,Big Data Engineer,100000.0,EUR,114047.0,PL,100,GB,S
260,2022,SE,FT,Data Scientist,90000.0,GBP,117789.0,GB,0,GB,M
261,2021,SE,FT,Big Data Architect,125000.0,CAD,99703.0,CA,50,CA,M
262,2022,SE,FT,Data Scientist,167000.0,USD,167000.0,US,100,US,M
263,2022,SE,FT,Data Analyst,126500.0,USD,126500.0,US,100,US,M
264,2021,SE,FT,Data Science Manager,152000.0,USD,152000.0,US,100,FR,L
265,2022,SE,FT,Data Engineer,220110.0,USD,220110.0,US,0,US,M
266,2022,SE,FT,Machine Learning Engineer,192600.0,USD,192600.0,US,100,US,M
267,2021,EN,FT,Data Science Consultant,65000.0,EUR,76833.0,DE,0,DE,L
268,2021,EN,FT,Data Scientist,2200000.0,INR,29751.0,IN,50,IN,L
269,2021,MI,FT,Big Data Engineer,1672000.0,INR,22611.0,IN,0,IN,L
270,2022,SE,FT,Data Engineer,165400.0,USD,165400.0,US,100,US,M
271,2022,SE,FT,Data Analyst,90320.0,USD,90320.0,US,100,US,M
272,2022,MI,FT,Data Engineer,60000.0,GBP,78526.0,GB,100,GB,M
273,2020,EN,FT,Data Analyst,72000.0,USD,72000.0,US,100,US,L
274,2020,EN,PT,ML Engineer,14000.0,EUR,15966.0,DE,100,DE,S
275,2022,SE,FT,Data Engineer,155000.0,USD,155000.0,US,100,US,M
276,2022,SE,FT,Data Analyst,90320.0,USD,90320.0,US,100,US,M
277,2022,SE,FT,Data Engineer,155000.0,USD,155000.0,US,100,US,M
278,2020,EN,FT,Data Engineer,4450000.0,JPY,41689.0,JP,100,JP,S
279,2020,MI,FT,Data Scientist,105000.0,USD,105000.0,US,100,US,L
280,2022,MI,FT,Data Analyst,35000.0,GBP,45807.0,GB,0,GB,M
281,2022,SE,FT,Data Scientist,100000.0,USD,100000.0,BR,100,US,M
282,2020,MI,FT,Product Data Analyst,20000.0,USD,20000.0,HN,0,HN,S
283,2022,MI,FT,Data Analyst,115500.0,USD,115500.0,US,100,US,M
284,2022,SE,FT,Data Scientist,215300.0,USD,215300.0,US,0,US,L
285,2022,SE,FT,Data Engineer,70500.0,USD,70500.0,US,0,US,M
286,2022,SE,FT,Machine Learning Engineer,164996.0,USD,164996.0,US,0,US,M
287,2022,EN,FT,Data Engineer,40000.0,GBP,52351.0,GB,100,GB,M
288,2021,EX,CT,Principal Data Scientist,416000.0,USD,416000.0,US,100,US,S
289,2020,EN,FT,Research Scientist,42000.0,USD,42000.0,NL,50,NL,L
290,2022,SE,FT,Head of Data,200000.0,USD,200000.0,MY,100,US,M
291,2021,SE,FT,Machine Learning Engineer,4900000.0,INR,66265.0,IN,0,IN,L
292,2020,EN,FT,Data Analyst,450000.0,INR,6072.0,IN,0,IN,S
293,2021,SE,FT,Data Analyst,90000.0,CAD,71786.0,CA,100,CA,M
294,2020,EN,FT,Machine Learning Engineer,250000.0,USD,250000.0,US,50,US,L
295,2021,MI,FT,Applied Machine Learning Scientist,423000.0,USD,423000.0,US,50,US,L
296,2021,MI,FT,Data Scientist,39600.0,EUR,46809.0,ES,100,ES,M
297,2022,SE,FT,Data Analyst,106260.0,USD,106260.0,US,100,US,M
298,2021,SE,FT,Data Engineering Manager,174000.0,USD,174000.0,US,100,US,L
299,2022,MI,FT,Applied Machine Learning Scientist,75000.0,USD,75000.0,BO,100,US,L
300,2022,SE,FT,Data Engineer,60000.0,GBP,78526.0,GB,0,GB,M
301,2021,SE,FT,Research Scientist,120500.0,CAD,96113.0,CA,50,CA,L
302,2022,MI,FT,Business Data Analyst,90000.0,CAD,70912.0,CA,50,CA,L
303,2022,SE,FT,Data Analyst,170000.0,USD,170000.0,US,100,US,M
304,2022,SE,FT,Data Analyst,110925.0,USD,110925.0,US,100,US,M
305,2022,MI,FT,Data Engineer,62000.0,EUR,68147.0,FR,100,FR,M
306,2020,SE,FT,Data Science Manager,190200.0,USD,190200.0,US,100,US,M
307,2022,SE,FT,Data Engineer,160080.0,USD,160080.0,US,0,US,M
308,2021,EN,FT,BI Data Analyst,55000.0,USD,55000.0,US,50,US,S

In [6]:
dictio_typ = {'PT':0, 'FL':1, 'FT':2, 'CT':3}
df.employment_type = df.employment_type.apply(lambda x: dictio_typ[x])

In [7]:
dictio = {'EN': 0, 'MI': 1, 'SE': 2, 'EX':3}
df.experience_level = df.experience_level.apply(lambda x: dictio[x])

In [8]:
def job_title(data):
    if 'Head' in data:
        return 'Data_Head'
    elif 'Director' in data:
        return 'Data_Director'
    elif 'Lead' in data:
        return 'Data_Lead'
    elif 'Principal' in data:
        return 'Data_Princial'
    else:
        return 'Data_Other'

In [9]:
df.job_title = df.job_title.apply(job_title)

In [10]:
df.job_title.unique()

array(['Data_Other', 'Data_Princial', 'Data_Lead', 'Data_Director',
       'Data_Head'], dtype=object)

In [11]:
dictio_title = {'Data_Other': 0, 'Data_Head': 1, 'Data_Lead': 1, 'Data_Director': 2, 'Data_Princial': 3}
df.job_title = df.job_title.apply(lambda x: dictio_title[x])

In [12]:
df.drop('employee_residence', axis = 1, inplace = True)

In [13]:
df.company_location.unique()

array(['US', 'FR', 'GR', 'LU', 'SI', 'DE', 'IN', 'GB', 'PK', 'MD', 'JP',
       'CA', 'AS', 'IE', 'AE', 'MX', 'VN', 'BE', 'KE', 'ES', 'CH', 'CL',
       'CN', 'DK', 'TR', 'NZ', 'PL', 'UA', 'AU', 'NG', 'EE', 'CZ', 'AT',
       'BR', 'DZ', 'IR', 'NL', 'HU', 'PT', 'HN', 'MT', 'RO', 'SG', 'IT',
       'HR', 'IQ', 'IL', 'RU', 'CO', 'MY'], dtype=object)

In [14]:
dictio_comp_loc = {'US':'AME', 'GB':'EUR', 'CA':'AME', 'DE':'EUR', 'IN':'ASI', 'FR':'EUR', 'ES':'EUR', 'GR':'EUR', 'JP':'ASI', 'NL':'EUR', 'PT':'EUR', 
                   'LU':'EUR', 'AE':'ASI', 'AT':'EUR', 'PL':'EUR', 'PK':'ASI', 'TR':'ASI', 'CH':'EUR', 'AU':'AUS', 'BR':'LTM', 'NG':'AFR', 'SI':'EUR', 
                   'BE':'EUR', 'MT':'EUR', 'IR':'EUR', 'DZ':'AFR', 'HU':'EUR', 'CZ':'EUR', 'HN':'LTM', 'RO':'EUR', 'CL':'LTM', 'EE':'EUR', 'UA':'EUR', 
                   'NZ':'AUS', 'DK':'EUR', 'CN':'ASI', 'KE':'AFR', 'VN':'ASI', 'MX':'LTM', 'IE':'EUR', 'AS':'AME', 'MD':'EUR', 'SG':'ASI', 'IT':'EUR', 
                   'HR':'EUR', 'IQ':'ASI', 'IL':'EUR', 'RU':'EUR', 'CO':'LTM', 'MY':'ASI'}

df.company_location = df.company_location.apply(lambda x: dictio_comp_loc[x])

In [15]:
dictio_cont_lab = {'LTM':0, 'AFR':1, 'ASI':2, 'EUR':3, 'AUS':4, 'AME':5}

df.company_location = df.company_location.apply(lambda x: dictio_cont_lab[x])

In [16]:
#dictio_size = {'S':0, 'M':1, 'L':2}

#df.company_size = df.company_size.apply(lambda x: dictio_size[x])

In [17]:
df = pd.get_dummies(df, columns = ['company_size'], drop_first = True)

In [18]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,remote_ratio,company_location,company_size_M,company_size_S
0,2022,2,2,0,140250.0,USD,140250.0,100,5,1,0
1,2022,2,2,0,135000.0,USD,135000.0,100,5,1,0
2,2021,1,2,0,100000.0,USD,100000.0,100,5,1,0
3,2021,1,3,0,270000.0,USD,270000.0,100,5,0,0
4,2021,1,2,0,22000.0,EUR,26005.0,0,5,0,0

In [19]:
from sklearn.preprocessing import StandardScaler    

data_num=pd.DataFrame(StandardScaler().fit_transform(df[['work_year', 'remote_ratio']]),
                      
                      columns= ['work_year', 'remote_ratio'])


data_obj=df[['job_title', 'company_size_M', 'company_size_S', 'experience_level', 'employment_type', 'company_location']]

data=pd.concat([data_num, data_obj], axis=1)

In [20]:
salarios = salaries.salary_in_usd

In [21]:
train = data.iloc[:500, :]
test = data.iloc[500:, :]

In [22]:
train.head()

,work_year,remote_ratio,job_title,company_size_M,company_size_S,experience_level,employment_type,company_location
0,0.859977,0.714862,0,1,0,2,2,5
1,0.859977,0.714862,0,1,0,2,2,5
2,-0.586023,0.714862,0,1,0,1,2,5
3,-0.586023,0.714862,0,0,0,1,3,5
4,-0.586023,-1.743615,0,0,0,1,2,5

In [23]:
train['salarios'] = salarios

In [24]:
train.head()

,work_year,remote_ratio,job_title,company_size_M,company_size_S,experience_level,employment_type,company_location,salarios
0,0.859977,0.714862,0,1,0,2,2,5,140250
1,0.859977,0.714862,0,1,0,2,2,5,135000
2,-0.586023,0.714862,0,1,0,1,2,5,100000
3,-0.586023,0.714862,0,0,0,1,3,5,270000
4,-0.586023,-1.743615,0,0,0,1,2,5,26005

In [25]:
test.head()

,work_year,remote_ratio,job_title,company_size_M,company_size_S,experience_level,employment_type,company_location
500,-2.032024,-1.743615,0,0,1,2,2,2
501,-2.032024,0.714862,1,0,0,1,2,5
502,-2.032024,0.714862,0,0,0,1,2,5
503,-2.032024,-1.743615,0,1,0,1,2,2
504,-2.032024,0.714862,0,0,0,1,2,2

In [26]:
X = train.drop('salarios', axis = 1)

y = train.salarios

In [27]:
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test = tts(X, y, train_size = 0.8)

In [28]:
from lazypredict.Supervised import LazyRegressor 

lazy=LazyRegressor()
lazy.fit(X_train, X_test, y_train, y_test)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 42/42 [00:02<00:00, 14.36it/s]

(                               Adjusted R-Squared  R-Squared      RMSE  \
 Model
 PoissonRegressor                             0.52       0.56  41805.28
 HuberRegressor                               0.49       0.53  43406.55
 PassiveAggressiveRegressor                   0.48       0.52  43841.54
 BayesianRidge                                0.46       0.50  44549.84
 RidgeCV                                      0.46       0.50  44595.24
 Ridge                                        0.45       0.50  44711.10
 LassoLarsIC                                  0.45       0.50  44712.90
 LassoLars                                    0.45       0.50  44721.64
 Lasso                                        0.45       0.50  44725.35
 Lars                                         0.45       0.50  44725.55
 LinearRegression                             0.45       0.50  44725.55
 TransformedTargetRegressor                   0.45       0.50  44725.55
 LassoCV                                      0.45       0.50  44726.90
 SGDRegressor                                 0.45       0.50  44731.75
 LarsCV                                       0.45       0.50  44777.88
 LassoLarsCV                                  0.45       0.50  44777.88
 ElasticNet                                   0.45       0.49  45068.60
 GammaRegressor                               0.44       0.48  45423.13
 RANSACRegressor                              0.43       0.48  45580.54
 OrthogonalMatchingPursuitCV                  0.43       0.48  45664.60
 GradientBoostingRegressor                    0.41       0.46  46321.66
 ExtraTreeRegressor                           0.41       0.46  46544.25
 BaggingRegressor                             0.41       0.46  46544.91
 TweedieRegressor                             0.40       0.44  47058.01
 RandomForestRegressor                        0.33       0.39  49440.76
 LGBMRegressor                                0.30       0.36  50644.42
 HistGradientBoostingRegressor                0.30       0.36  50644.42
 KNeighborsRegressor                          0.29       0.35  50822.79
 ExtraTreesRegressor                          0.28       0.34  51334.39
 OrthogonalMatchingPursuit                    0.19       0.26  54347.25
 XGBRegressor                                 0.17       0.24  55157.95
 ElasticNetCV                                -0.06       0.03  62176.88
 NuSVR                                       -0.09       0.00  63115.51
 SVR                                         -0.09      -0.00  63217.43
 QuantileRegressor                           -0.09      -0.00  63229.36
 DummyRegressor                              -0.10      -0.01  63553.18
 DecisionTreeRegressor                       -0.12      -0.03  64189.05
 AdaBoostRegressor                           -0.13      -0.04  64275.27
 GaussianProcessRegressor                    -0.21      -0.11  66648.93
 KernelRidge                                 -2.64      -2.35 115516.87
 LinearSVR                                   -3.20      -2.86 123963.51
 MLPRegressor                                -3.22      -2.87 124251.20

                                Time Taken
 Model
 PoissonRegressor                     0.01
 HuberRegressor                       0.02
 PassiveAggressiveRegressor           0.03
 BayesianRidge                        0.02
 RidgeCV                              0.01
 Ridge                                0.01
 LassoLarsIC                          0.01
 LassoLars                            0.01
 Lasso                                0.01
 Lars                                 0.02
 LinearRegression                     0.01
 TransformedTargetRegressor           0.01
 LassoCV                              0.08
 SGDRegressor                         0.01
 LarsCV                               0.03
 LassoLarsCV                          0.02
 ElasticNet                           0.02
 GammaRegressor                       0.01
 RANSACRegressor                      0.07
 OrthogonalMatchingPursuitCV          0.01
 GradientBoostingRegressor            0.05
 ExtraTreeRegressor                   0.02
 BaggingRegressor                     0.03
 TweedieRegressor                     0.01
 RandomForestRegressor                0.15
 LGBMRegressor                        0.05
 HistGradientBoostingRegressor        0.15
 KNeighborsRegressor                  0.02
 ExtraTreesRegressor                  0.12
 OrthogonalMatchingPursuit            0.01
 XGBRegressor                         0.07
 ElasticNetCV                         0.06
 NuSVR                                0.03
 SVR                                  0.03
 QuantileRegressor                    1.24
 DummyRegressor                       0.01
 DecisionTreeRegressor                0.01
 AdaBoostRegressor                    0.06
 GaussianProcessRegressor             0.03
 KernelRidge                          0.02
 LinearSVR                            0.01
 MLPRegressor                         0.29  ,
                                Adjusted R-Squared  R-Squared      RMSE  \
 Model
 PoissonRegressor                             0.52       0.56  41805.28
 HuberRegressor                               0.49       0.53  43406.55
 PassiveAggressiveRegressor                   0.48       0.52  43841.54
 BayesianRidge                                0.46       0.50  44549.84
 RidgeCV                                      0.46       0.50  44595.24
 Ridge                                        0.45       0.50  44711.10
 LassoLarsIC                                  0.45       0.50  44712.90
 LassoLars                                    0.45       0.50  44721.64
 Lasso                                        0.45       0.50  44725.35
 Lars                                         0.45       0.50  44725.55
 LinearRegression                             0.45       0.50  44725.55
 TransformedTargetRegressor                   0.45       0.50  44725.55
 LassoCV                                      0.45       0.50  44726.90
 SGDRegressor                                 0.45       0.50  44731.75
 LarsCV                                       0.45       0.50  44777.88
 LassoLarsCV                                  0.45       0.50  44777.88
 ElasticNet                                   0.45       0.49  45068.60
 GammaRegressor                               0.44       0.48  45423.13
 RANSACRegressor                              0.43       0.48  45580.54
 OrthogonalMatchingPursuitCV                  0.43       0.48  45664.60
 GradientBoostingRegressor                    0.41       0.46  46321.66
 ExtraTreeRegressor                           0.41       0.46  46544.25
 BaggingRegressor                             0.41       0.46  46544.91
 TweedieRegressor                             0.40       0.44  47058.01
 RandomForestRegressor                        0.33       0.39  49440.76
 LGBMRegressor                                0.30       0.36  50644.42
 HistGradientBoostingRegressor                0.30       0.36  50644.42
 KNeighborsRegressor                          0.29       0.35  50822.79
 ExtraTreesRegressor                          0.28       0.34  51334.39
 OrthogonalMatchingPursuit                    0.19       0.26  54347.25
 XGBRegressor                                 0.17       0.24  55157.95
 ElasticNetCV                                -0.06       0.03  62176.88
 NuSVR                                       -0.09       0.00  63115.51
 SVR                                         -0.09      -0.00  63217.43
 QuantileRegressor                           -0.09      -0.00  63229.36
 DummyRegressor                              -0.10      -0.01  63553.18
 DecisionTreeRegressor                       -0.12      -0.03  64189.05
 AdaBoostRegressor                           -0.13      -0.04  64275.27
 GaussianProcessRegressor                    -0.21      -0.11  66648.93
 KernelRidge                                 -2.64      -2.35 115516.87
 LinearSVR                                   -3.20      -2.86 123963.51
 MLPRegressor                                -3.22      -2.87 124251.20

                                Time Taken
 Model
 PoissonRegressor                     0.01
 HuberRegressor                       0.02
 PassiveAggressiveRegressor           0.03
 BayesianRidge                        0.02
 RidgeCV                              0.01
 Ridge                                0.01
 LassoLarsIC                          0.01
 LassoLars                            0.01
 Lasso                                0.01
 Lars                                 0.02
 LinearRegression                     0.01
 TransformedTargetRegressor           0.01
 LassoCV                              0.08
 SGDRegressor                         0.01
 LarsCV                               0.03
 LassoLarsCV                          0.02
 ElasticNet                           0.02
 GammaRegressor                       0.01
 RANSACRegressor                      0.07
 OrthogonalMatchingPursuitCV          0.01
 GradientBoostingRegressor            0.05
 ExtraTreeRegressor                   0.02
 BaggingRegressor                     0.03
 TweedieRegressor                     0.01
 RandomForestRegressor                0.15
 LGBMRegressor                        0.05
 HistGradientBoostingRegressor        0.15
 KNeighborsRegressor                  0.02
 ExtraTreesRegressor                  0.12
 OrthogonalMatchingPursuit            0.01
 XGBRegressor                         0.07
 ElasticNetCV                         0.06
 NuSVR                                0.03
 SVR                                  0.03
 QuantileRegressor                    1.24
 DummyRegressor                       0.01
 DecisionTreeRegressor                0.01
 AdaBoostRegressor                    0.06
 GaussianProcessRegressor             0.03
 KernelRidge                          0.02
 LinearSVR                            0.01
 MLPRegressor                         0.29  )

In [29]:
from sklearn.linear_model import PoissonRegressor


poisson = PoissonRegressor()

poisson.fit(X, y)

PoissonRegressor()

In [30]:
pred_5 = poisson.predict(test)

In [31]:
from sklearn.metrics import mean_squared_error as mse  

#mse(y, pred_5, squared=False)

In [33]:

muestra['salary_in_usd'] = pred_5

muestra.to_csv('muestra(Poisson_3).csv', index = False)

In [34]:
from sklearn.linear_model import HuberRegressor

huber = HuberRegressor()
huber.fit(X, y)

pred_6 = huber.predict(test)

muestra['salary_in_usd'] = pred_6

In [35]:
muestra.to_csv('muestra(huber).csv', index = False)

In [36]:
muestra.head()

   id  salary_in_usd
0   0       54046.37
1   1      141887.03
2   2      119047.78
3   3       34471.86
4   4       48469.81