In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

import pylab as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
salaries = pd.read_csv('../data/salaries_data.csv')

In [3]:
salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,USD,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L

In [5]:
salaries.groupby('company_size')['salary_in_usd'].mean().sort_values(ascending=False)

company_size
L    121031.375758
M    115805.494505
S     79242.435484
Name: salary_in_usd, dtype: float64